<div class="menu">
    <h1>MENU</h1>
    <div class="input-container">
        <h3 for="todoTitle">Todo List </h3>
        <textarea class="todo-title" rows="10" placeholder="Entrez la tâcle" id="todoTitle" [(ngModel)]="newTodoTitle"></textarea>
        <button class="ajouter" (click)="addTodo()">Ajouter</button>
    </div>
    <div class="output-container">

        <div *ngFor="let todo of todos">
            <div class="output">
                <div>
                    <span>Titre : {{ todo.title }}</span>
                </div>
                <div>
                    <span>Date de création : {{ todo.createdAt | date }}</span>
                    <button (click)=" editTodo(todo) ">Modifier</button>
                    <button (click)="deleteTodo(todos.indexOf(todo)) ">Supprimer</button>

                </div>

            </div>
        </div>

    </div>

</div>